<div
  class="flex flex-col w-150 justify-center bg-surface/70 backdrop-blur-md border border-border shadow-sm rounded-lg px-6 pb-6">

  <div class="flex border-b border-border w-full">
    <button (click)="trocarAba('cadastro')"
      [class]="abaAtiva === 'cadastro' ? 'border-primary text-primary-hover border-b-2 font-bold' : 'text-foreground-muted hover:text-foreground'"
      class="flex-1 py-3 text-center transition-colors">
      Cadastro
    </button>

    <button (click)="trocarAba('login')"
      [class]="abaAtiva === 'login' ? 'border-primary text-primary-hover border-b-2 font-bold' : 'text-foreground-muted hover:text-foreground'"
      class="flex-1 py-3 text-center transition-colors">
      Login
    </button>
  </div>

  @if (abaAtiva === 'cadastro'){
  <app-form-cadastro></app-form-cadastro>
  }

  @if (abaAtiva === 'login'){
  <app-form-login></app-form-login>
  }
</div>